:root {
  --Color1: #3d0a16;
  --Color2: #701329;
  --Color3: #661125;
  --Color4: #753746;
  --Color5: #884051;
  --Color6: #d4d0d4;
  --Border: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--Color1);
  color: var(--Color6);
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  display: grid;
  gap: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
}
/*    Boxes    */
.main_picture,
.aboutme,
.skills,
.contact,
.workExperience,
.technical,
.hobbies,
.protectsDone {
  border-radius: var(--Border);
  background-color: var(--Color5);
  border: 0.5rem solid var(--Color4);
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
}

.main_picture:hover,
.aboutme:hover,
.skills:hover,
.contact:hover,
.workexperience:hover,
.hobbies:hover,
.protectsDone:hover {
  box-shadow: -1px -1px 10px 0px var(--Color5);
  max-width: 90.5vw;
}
/*    Main      */
.main_picture h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.main_picture__img {
  border-radius: 50%;
  width: 90%;
  max-width: 646px;
  max-height: 700px;
}

.main_picture__img:hover {
  box-shadow: -1px -1px 10px 0px #d4d0d0;
}
/*    Skills section  */
.skills {
}
.skills__icon__container {
  display: flex;
  justify-content: space-around;
}
.skills__icon__container figcaption {
  font-size: 1.5rem;
  align-self: center;
}
.skills__icon {
  width: 50%;
}
/*      contact     */
.contact__icon__container {
  display: flex;
  justify-content: flex-start;
}

.contact__icon__container figcaption {
  align-self: center;
  margin-left: 2rem;
}

.contact__icon {
  width: 4rem;
}

/*    Technical Skills    */
.technical__icon__container {
}
.technical__icon {
  width: 40%;
}
